<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Tracker</title>
</head>
<body>
    <h1>Welcome to the Score Tracker!</h1>
    <form action="/add_score" method="post">
        <label for="player_name">Player Name:</label>
        <input type="text" id="player_name" name="player_name" required><br><br>
        <label for="new_score">Enter new score:</label>
        <input type="number" id="new_score" name="new_score" required><br><br>
        <input type="submit" value="Add Score">
    </form>
    <br>
    <a href="/scores">View Scores</a>
</body>
</html>
